/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.content-section{
 background: #F2F2F2;
 margin: 20px;
 min-height: 300px;
 display:block;

}
.centered{
    text-align: center;
    vertical-align: middle;
}

.inline centered , p ,h1{
    padding-left: 10px;
    
}


.inline{
    display: inline-block;
}

iframe{
    margin: 20px;
    width: 500px;
    height:200px;
}
button{
    background-color:black;
    padding: 10px;
    color: white;
    border-radius: 5px;
}